<!-- header -->
<header id="header" class="header">
  <div class="header-container">
    <!-- idioma, moneda y menu-->
    <div>
      <ul class="header-item">
        <div>
          <li>
            <a>
              <img src="/Inadaptados_logo.jpg" class="logo-image" />
            </a>
          </li>
        </div>
      </ul>
    </div>
    <!-- menu-->
    <div>
      <ul class="header-item">
        <li>
          <i class="fas fa-bars icon"></i>
        </li>
      </ul>
    </div>
  </div>
</header>

<div class="container">
  <header>
    <h1>Practicando double binding</h1>
  </header>
  <div class="controls">
    <button (click)="enableTextarea()">Agregar Nueva Entrada</button>
    <div class="option">
      <label for="font">Tipografia:</label>
      <select id="font" [(ngModel)]="selectedFront">
        <option value="Arial">Arial</option>
        <option value="Georgia">Georgia</option>
        <option value="Courier New">Courier New</option>
        <option value="Calibri">Calibri</option>
        <option value="Forte">Forte</option>
      </select>
    </div>
    <div class="option">
      <label for="size">Size:</label>
      <select id="size" [(ngModel)]="selectedSize">
        <option value="12">12</option>
        <option value="16">16</option>
        <option value="18">18</option>
        <option value="20">20</option>
        <option value="22">22</option>
      </select>
    </div>
    <div class="option">
      <label for="color">Color:</label>
      <select id="color" [(ngModel)]="selectedColor">
        <option value="black">Negro</option>
        <option value="blue">Azul</option>
        <option value="Red">Rojo</option>
        <option value="green">Verde</option>
        <option value="yellow">Amarillo</option>
      </select>
    </div>
    <div class="option">
      <label for="interlineado">Interlineado</label>
      <select id="interlineado" [(ngModel)]="selectedInterlineado">
        <option value="1">1</option>
        <option value="1.5">1.5</option>
        <option value="2">2</option>
        <option value="2.5">2.5</option>
        <option value="3">3</option>
      </select>
    </div>
  </div>
  <textarea 
  [disabled]="!isTextareaEnable"
  [(ngModel)]="blogText"
  [style.font-family]="selectedFront"
  [style.font-size.px]="selectedSize"
  [style.color]="selectedColor"
  [style.line-height]="selectedInterlineado"
  placeholder="Escribe aquí tu entrada..."
  ></textarea>
</div>
<footer>
  <div class="copyright">
    <p>
      Copyright {{ footerDate }} by 
      <a href="#"><span> &copy; </span> Indptdos </a> -All right reserved
  </p>
  </div>
</footer>